@import "tailwindcss";

@theme inline {
  --color-background: #f4f1de;
  --color-foreground: #0f172a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-background text-foreground;
  font-family: var(--font-sans), sans-serif;
}

.progress-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
