@import "tailwindcss";

@theme inline {
  --color-background: #f4f1de;
  --color-foreground: #0f172a;
  --font-sans: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono:
    "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

body {
  @apply bg-background text-foreground;
  font-family: var(--font-sans);
}

.progress-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
